body {
  margin: 0;
  padding: 0; }

.button {
  cursor: pointer; }

.modal {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  transform: scale(0);
  transition: transform .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); }
  .modal::before {
    top: 5rem;
    right: 5rem;
    content: 'X';
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    font-size: 3.125rem;
    padding: 1.3rem 2rem;
    background-color: orange; }
  .modal__content {
    width: 50vw;
    height: 50vh;
    padding: 3rem;
    border-radius: 1.25rem;
    background-color: #fff; }
  .modal--show {
    transform: scale(1); }
